@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --bg-color: #f6f8fa;
  --text-color: #1d1f27;
  --main-color: #3a3dbe;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

h1.title{
  color: #1d1f27;
  font-size: 40px;
}

h3,
header,
ul {
  margin-bottom: 0.5rem;
}

main {
  margin: 1rem auto;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

header {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

header div {
  padding: 5px;
}

header div:first-child {
  flex-basis: 100%;
  font-size: 2.25rem;
  font-weight: 600;
}

header div:nth-child(n + 2) {
  flex-basis: 50%;
  font-size: 1.25rem;
  font-weight: 500;
}

header h5 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-between;

}


/* Ajusta el ancho de los formularios según sea necesario */
.forms-container form {
  width: 70%;
}



form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form input:not(#type),
form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

form button {
  background-color: var(--main-color);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

form label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

form div:nth-child(-n + 2) {
  flex-basis: 100%;
}

form div:nth-child(n + 3) {
  flex-basis: calc(50% - 5px);
}

/**/

.switch {
  position: relative;
  display: inline-block; /* Cambiado de flex a inline-block */
  width: 130px; /* Ancho aumentado para acomodar las etiquetas */
  height: 34px;
}

.switch-container .switch-label{
  margin: 10px;
}

.label-left,
.label-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #555;
}

.label-left {
  left: 10px; /* Posición de la etiqueta "Transactions" */
}

.label-right {
  right: 10px; /* Posición de la etiqueta "Scheduled Transactions" */
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0; /* Cambiado a 0 para evitar desplazamiento */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f03026; /* Color rojo por defecto */
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Cambiado el selector para que afecte solo a la etiqueta hermana directa */
.switch .checkbox:checked + .slider {
  background-color: #62e831; /* Cambio a verde cuando está activado (ON) */
}

/* Cambiado el selector para que afecte solo a la etiqueta hermana directa */
.switch .checkbox:checked + .slider:before {
  -webkit-transform: translateX(66px); /* Aumentado para acomodar las etiquetas */
  -ms-transform: translateX(66px);
  transform: translateX(93px);
}





.iconContainer{
  width: 50%;
  display: flex;
  justify-content: center; /* Para centrar horizontalmente */
  align-items: center; /* Para centrar verticalmente */
}

.icon{
  max-width: 70px;
  min-width: 70px;
  border-style: solid;
  border-color: #dae0eb;
  margin-right: 30px;
}
.icon.excel{
  max-width: 70px;
  min-width: 70px;  
  padding: 10px;
}



/* Dropdown Button */
.dropbtn {
  max-width: 70px;
  min-width: 70px;
  margin-left: 40px;
  margin-right: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */


/* POPUP */

.scheduled-transactions-options {
  display: block; /* Presentación en bloque */
  width: 200px; /* Ancho fijo del contenedor */
}

.scheduled-transactions-container {
  display: block;
  position: relative;
  margin-bottom: 12px; /* Espacio entre opciones */
  cursor: pointer;
  font-size: 16px;
  padding-left: 40px; /* Agrega espacio a la izquierda del texto */
}

.scheduled-transactions-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.scheduled-transactions-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; /* Color de fondo del checkbox */
  border-radius: 5px;
}

.scheduled-transactions-container:hover input ~ .scheduled-transactions-checkmark {
  background-color: #ccc; /* Cambia el color de fondo del checkbox al pasar el mouse */
}

.scheduled-transactions-container input:checked ~ .scheduled-transactions-checkmark {
  background-color: #2196F3; /* Cambia el color de fondo del checkbox cuando está seleccionado */
}

.scheduled-transactions-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.scheduled-transactions-container input:checked ~ .scheduled-transactions-checkmark:after {
  display: block;
}

.scheduled-transactions-container .scheduled-transactions-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#scheduled-treshold-amount {
  width: 900px;
}

/* END POPUP */




#transactionTitle{
  margin-top: 50px;
}

#transactionList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  position: relative;
  margin: 10px;
}

.transaction{
  width: 300px;
  height: 100px;
  background-color: #f5ebe4 ;
  border-radius: 8px ;
}

ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.name {
  flex: 1;
}

.name h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.name p {
  font-size: 0.8rem;
  color: #555;
}

.amount {
  font-weight: 600;
}

.amount.income-positive {
  color: yellowgreen;
}

.amount.income-negative {
  color: red;
}

.amount.expense {
  color: indianred;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3a3dbe;
  color: #fff;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 300ms;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action hr {
  width: 100%;
  margin: 5px 0;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
} 

.transactionCard{
  width: 200px;
  height: 100px;
}

ul li:hover .action {
  transform: scaleX(1);
}

.action svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#status {
  text-align: center;
  margin-bottom: 0.5rem;
}



.overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo opacado y oscurecido */
  z-index: 1000; /* Para asegurar que esté encima de todo */
}


.deleteAlarmoverlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo opacado y oscurecido */
  z-index: 1000; /* Para asegurar que esté encima de todo */
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el popup */
  z-index: 1001; /* Para estar sobre el overlay */
}

.popup h2 {
  margin-top: 0;
}

#closePopup {
  margin-top: 10px;
}


#alarmTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#alarmTable td:first-child {
  border-right: none; /* Elimina el borde derecho de la primera celda */
}

#alarmTable td:last-child {
  border-left: none; /* Elimina el borde izquierdo de la última celda */
}


#alarmTableContainer {
  max-height: 300px; /* Altura máxima del contenedor antes de que aparezca la barra de desplazamiento */
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando sea necesario */
}

#alarmTable {
  border-collapse: collapse;
  width: 100%;
}

#alarmTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.deleteButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #d32f2f;
}

.alarm-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.alarm-description {
  font-size: 16px;
}

#closePopup{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 42px;
  cursor:pointer;
  background-color: #3a3dbe;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.closePopup{
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 42px;
  cursor:pointer;
  background-color: #3a3dbe;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#registerForm a {
  color: #2196F3;
  font-size: 1rem;
  margin: 10px;
}

#loginForm a {
  color: #2196F3;
  font-size: 1rem;
  margin: 10px;
}

.programmedTransaction{
  display: none;
}

#programmedTransactionForm > * {
  margin: 10px 0;
  
}


/* Programm transaction */

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="date"] {
  padding: 8px;
  width: 300px; /* Ancho del input */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-group.flex-container label {
  margin-right: 10px;
}



.time-container {
  display: block;
  position: relative;
  margin-bottom: 12px; /* Espacio entre opciones */
  cursor: pointer;
  font-size: 16px;
  padding-left: 40px; /* Agrega espacio a la izquierda del texto */
}

#datePikcer {
  width: 300px ; /* Ancho del input */
}


/* delete progr transactions */


.deleteProgramTransactionoverlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo opacado y oscurecido */
  z-index: 1000; /* Para asegurar que esté encima de todo */
}

#scheduledTransactionTable tr{
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}


.deleteScheduledTransactionButton{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 50px;
}

/* ERRORS */

.alert.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.alert.alert-danger ul {
  list-style-type: none;
  padding-left: 0;
}

.alert.alert-danger ul li {
  margin-bottom: 5px;
}

.registerOverlay{
  display: none;
}